[2020-02-01 17:11] RobertBaruch opened #4 "Symbiyosys not showing up in conda packages"
https://anaconda.org/litex-hub/repo does not show symbiyosys.

[2020-02-01 17:16] RobertBaruch opened #5 "Add package for z3 and boolector for formal?"
The Z3 solver for formal verification is quite fast (on some platforms) compared to the default for symbiyosys. On other platforms, boolector is better.

Compilation instructions at https://symbiyosys.readthedocs.io/en/latest/quickstart.html

I'd try to contribute if someone could point me to a clear step-by-step guide. I can also just try to keep attempting pull requests and seeing what the error

[2020-02-01 18:09] RobertBaruch opened #6 "Additional requirement for building a forked repo with Travis"
Apparently the build scripts try to access a repo under conda.anaconda.org with your github username, looking for https://conda.anaconda.org/<username>/noarch/repodata.json, which doesn't exist and fails the build. I was able to get past this by signing up to conda.anaconda.org, but maybe if you've already done that under a name other than your github username, you're hosed?

[2020-02-01 18:24] mithro commented on #5
You can test locally, `./conda-env.sh build <path to your meta file>` then once that works you do the Travis thing until green.

[2020-02-01 19:53] RobertBaruch opened #7 "Travis failed to build yosys on OSX: makefile-conda-config.patch failed"
[code]

[2020-02-01 19:56] RobertBaruch opened #8 "Travis status for litex-hub not found"
https://travis-ci.org/litex-hub/litex-conda-eda (from README.md) results in "We couldn't find the repository litex-hub/litex-conda-eda"

[2020-02-01 20:09] RobertBaruch commented on #7
See the build output here: https://travis-ci.org/RobertBaruch/litex-conda-eda/jobs/644817958#L1023

[2020-02-01 20:45] RobertBaruch opened #9 "TRAVIS_OS_NAME must be set before running conda-get.sh"
In attempting to do a pseudo-Travis build as in README.md, https://github.com/litex-hub/litex-conda-eda/blob/master/conda-get.sh#L7 requires that TRAVIS_OS_NAME be set, otherwise you'll end up running an OSX version. Which is great if you're on OSX, but not so great otherwise.

[2020-02-01 20:58] RobertBaruch opened #10 "Need to apt-get install make for local conda build"
In README.md, the instructions need to be updated to:

[code]

as a fresh docker image of ubuntu has no make.

[2020-02-01 21:01] RobertBaruch commented on #10
(Note that sudo is not used for a docker image, as apparently you get dumped into root anyways)

[2020-02-01 22:24] RobertBaruch commented on #7
Interestingly, in a fresh docker instance, it seems to patch just fine?

[2020-02-01 22:48] RobertBaruch commented on #5
Hmm, now that I finally have docker locally working and compiling things, it seems that in building formal/symbiyosys, z3 and boolector are also built anyway. So obsoleting this issue.

[2020-02-01 22:49] RobertBaruch commented on #10
Possibly this should be a conda dependency? I've also noted that formal/symbiyosys required binutils and cmake to be installed as well.

[2020-02-01 23:11] mithro commented on #10
These dependencies should be part of the `meta.yaml`.

[2020-02-02 01:05] mithro commented on #7
Looks like as you discovered this patch was only used on OS X.

[2020-02-02 01:09] #8 closed

[2020-02-02 01:11] mithro commented on #4
Currently you caught us mid-transition to splitting apart https://github.com/litex-hub/litex-conda-packages repository - see https://github.com/litex-hub/litex-conda-packages/issues/114

[2020-02-02 01:12] mithro commented on #4
Currently only packages from https://github.com/litex-hub/litex-conda-packages are uploaded to https://anaconda.org/litex-hub/repo

[2020-02-02 07:49] mithro commented on #5
@RobertBaruch I'm actually going to reopen this as `z3` and `boolector` probably should be their own packages.

[2020-02-02 16:28] RobertBaruch commented on #4
That does explain a few things. Including the comments in the manual build section mentioning compilation of gcc and binutils!

[2020-02-02 16:29] #7 closed

[2020-02-02 16:39] RobertBaruch commented on #5
I'll take a shot at this.

[2020-02-02 19:50] RobertBaruch commented on #5
I haven't been able to figure out how to compile z3 on windows. It's possible, but relies on a Python script from z3: `python mk_make.py`, which creates the appropriate makefiles for your OS. The problem is that the script relies on `os.name` to detect the OS, and it always comes up as `nt`, which is Windows, which generates a makefile for `nmake`, which I can't figure out how to install using con

[2020-02-02 19:58] RobertBaruch commented on #5
The alternative is just to download the [built z3 windows version](https://github.com/Z3Prover/z3/releases) -- after all, why build z3 if it's already built -- but I have no idea how to conda, so I also have no idea how to just repackage a release for conda.

[2020-02-03 03:16] RobertBaruch commented on #5
Welp, I have some conda files that Travis seems to feel compiles z3 for OSX, Linux, and Windows. Unfortunately I ended up having to pin the release at 4.8.7 because there doesn't seem to be an easy way to compile for Windows. So instead it compiles for OSX and Linux, and just downloads the built version from github for Windows.

Will work on boolector now.

[2020-02-03 08:59] mithro commented on #9
Opps! We should most certainly fix this to detect the OS manually if `TRAVIS_OS_NAME` isn't found.

[2020-02-03 09:00] mithro commented on #6
We could use an environment variable and fall back to the github username if it isn't set?
https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings

[2020-02-05 00:18] RobertBaruch commented on #5
Was able to get z3 compiling under Windows, so we can compile z3 from head. Still working on boolector for Windows.

[2020-06-15 22:44] PiotrZierhoffer opened #22 "Discussion: reworking travis stages"
The current stage layout is not optimal, as the only purpose it serves is internal organisation.

Since the packages are now split across many repos, it doesn't really matter.

Cons of this setup:
- stages are being built sequentially even when there is no relation between packages
- even if there IS a relation between packages, it doesn't matter, as the second stage can't use the previous stage r

[2020-06-15 22:44] PiotrZierhoffer commented on #22
cc @JakubJatczak @ajelinski @kowalewskijan

[2020-06-16 00:19] mithro commented on #22
I [created a Google doc](https://docs.google.com/document/d/1cj4pnacf6Vh3DySiAM3h3v6XOHUIA9WXVy7esuUyRAg/edit) to dump some data.

[2020-06-16 00:54] mithro commented on #22
Generally, yes - the stages where added more to make it easier to see the output rather than anything actually to do with stages making sense (with the one exception being the binutils / gcc-nostdc / gcc-newlib stages). You are also right that it breaks down when not running on master as the packages are not uploaded.

[2020-06-17 10:46] PiotrZierhoffer commented on #22
@mithro I added some comments  to the doc

[2020-06-25 15:14] mithro opened #27 "Package magic"
For the https://github.com/google/skywater-pdk I need https://github.com/RTimothyEdwards/magic and hence it would be good to get it packaged in conda.

[2020-06-26 13:34] PiotrZierhoffer commented on #27
https://github.com/litex-hub/litex-conda-eda/pull/28 - this is still WIP, have some troubles getting the proper configuration. Apparently magic doesn't want to compile without X (even with the relevant switch), and it seems it requires a very specific setup on host. Will continue this in few hours.

[2020-06-26 13:34] PiotrZierhoffer commented on #27
Make commands do not seem to return proper error codes for some reason

[2020-06-29 11:15] PiotrZierhoffer commented on #27
The current package builds, but tclmagic.so is not built as expected. I can't reproduce this locally, but still looking for the reason here

[2020-06-29 14:20] PiotrZierhoffer commented on #27
Found a problem with `ld` lookup. So the package builds fine. The next step - getting cairo to work, as Tim Edwards suggests you need it

[2020-06-29 19:09] PiotrZierhoffer commented on #27
Since it's merged, I close the issue. Let's open new ones if anything's wrong

[2020-06-29 19:09] #27 closed

[2020-11-18 16:43] #22 closed

[2020-11-18 16:43] PiotrZierhoffer commented on #22
This is long implemented

[2020-11-27 23:11] mithro opened #49 "Add ngspice package"
nspice is needed for analog simulation of the spice models in the skywater-pdk (and for OpenRAM characterization).

[2020-11-27 23:12] mithro commented on #49
Make sure that ngspice is compiled with parallel support too.

[2020-11-27 23:14] mithro commented on #49
http://ngspice.sourceforge.net/docs/ngspice-30-manual.pdf

[2020-11-27 23:37] mithro opened #50 "Add package for netgen"
Needed by the skywater-pdk to do LVS checks (also needed by OpenRAM).

[2020-11-27 23:37] mithro commented on #50
http://opencircuitdesign.com/netgen/index.html

[2020-11-28 01:21] mithro opened #51 "Move to github actions rather than travis"
Travis is broken now....

[2020-11-28 01:24] mithro opened #52 "Following instructions in README.md tries to install MacOSX binary?"
[code]

[2020-11-28 01:24] mithro opened #53 "Instructions in README shouldn't tell you to run travis scripts"

[2021-01-21 17:40] litghost opened #69 "New prjxray-db is not getting main label?"
Looks like the new prjxray-db package (see: https://anaconda.org/LiteX-Hub/prjxray-db/files) is still not getting the main label?  In particular, any package built after git hash 057e179 is one that I would've expected to get the label.  Any ideas why?  I original theorized that it was because of https://github.com/litex-hub/litex-conda-compilers/issues/13, but I suspect there might be another iss

[2021-01-22 09:55] ajelinski commented on #69
The packages built in the workflow from `master` only get the `main` label if the whole workflow succeeds. There are a few jobs that are failing currently and I've just checked the problem doesn't come from any of the latest changes in this repository. I will see what can be done about those failures.

If you need the package immediately for testing purposes then the channel `litex-hub/label/ci-ma

[2021-01-25 06:48] mithro commented on #69
@PiotrZierhoffer / @kgugala

[2021-01-25 13:08] ajelinski commented on #69
@litghost @mithro Since not having `prjxray-db` in the latest version blocks `symbiflow-arch-defs` development and currently Conda has some serious issues\*, the latest `prjxray-db` built by the CI from `master` has been moved to the `main` label manually.

\* All of the CI jobs from the latest workflow (excluding the skipped ones; https://github.com/litex-hub/litex-conda-eda/actions/runs/50919483

[2021-01-25 16:09] ajelinski opened #70 "symbiyosys testing failure: "unexpected TOK_RAND""
Building the package succeeds. Relevant part of the test log:
[code]

The `yosys` package (`v0.9_5142_g4762cc06`) used for testing was built by the same workflow.

Full log with the test script fixed (currently it fails to print log after error on `master`): https://github.com/litex-hub/litex-conda-eda/runs/1736679449

[2021-01-25 16:36] mithro commented on #69
@ajelinski Could you write up a short document about how someone does the manual move incase things like this happen in the future?

[2021-01-25 17:10] dnltz commented on #69
@ajelinski symbiflow-arch-defs needs the latest prjxray-db to work again. If I add the ci-master label I get
[code]
but the latest main label works.

[2021-01-26 13:03] ajelinski opened #71 "symbiflow-yosys-plugins-osx: A non-BSD `install -D` is used"
This commit broke building on macOS: https://github.com/SymbiFlow/yosys-symbiflow-plugins/commit/c613a356f3b5a6e93d2ba64f3568f4e47cef4768

There's no `install -D` in BSD's `install`. The equivalent switch seems to be simply `-d` there but I'm not sure.

I've created an issue on the upstream repository: https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/74 . Until then this package won't b

[2021-01-26 13:38] ajelinski commented on #69
@mithro It's nothing special to be honest. Such move can be done with:
[code]
where `SPEC` needs to be `user/package/version[/filename]`.

In case of this particular package it was:
[code]

[2021-01-26 13:38] ajelinski commented on #69
@dnitz This is expected since the package has been moved to the `main` label. The Anaconda doesn't seem to allow having a package with two labels simultaneously. The `litex-hub/label/ci-master-495615112` channel won't work anymore.

Now it can be installed from the plain `litex-hub` channel indeed.

[2021-01-27 08:57] ajelinski opened #72 "Build all packages requiring Python with versions: 3.7, 3.8 and 3.9"
@mithro (https://github.com/litex-hub/litex-conda-eda/pull/68#issuecomment-767706800):

This can be done in the same way as in the `surelog`, `yosys` and `symbiyosys` recipes from #68.

[2021-01-27 09:04] ajelinski opened #73 "tree-sitter-verilog: Error while installing the latest tree_sitter v0.2.2 from pip"
The last working job building `tree-sitter-verilog` used `tree-sitter` 0.2.1. Now I can see that the 0.2.2 installation is attempted but it fails with:
[code]

It will be skipped by the CI workflow until this is fixed.

[2021-01-27 09:11] ajelinski commented on #73
Latest successful job: https://github.com/litex-hub/litex-conda-eda/runs/1770324843
Job failure with the newer `tree_sitter`: https://github.com/litex-hub/litex-conda-eda/runs/1775358509

[2021-01-27 19:28] mithro commented on #72
@ajelinski - We should figure out how to do this automatically? We should always be supporting the latest 3 versions of Python.

[2021-01-28 22:09] dnltz commented on #69
@ajelinski - Worked for me, thanks!

[2021-01-29 10:16] ajelinski commented on #69
I believe this issue can be closed @litghost?

[2021-01-29 17:27] litghost commented on #69
Indeed, thanks!

[2021-01-29 17:27] #69 closed

[2021-02-21 16:25] mithro opened #79 "Should prjxray-db be architecture agnostic?"
If I understand correctly, the database files should not depend on the machine architecture so should probably be marked as working on any?

[2021-02-22 13:49] #50 closed

[2021-03-04 12:34] kgugala opened #84 "Ppackages should have fixed runtime dependencies"
Currently packages define runtime dependencies without specifying version (so the latest one is used). We should force a specific version where possible.

An example of such dependency can be seen here https://github.com/hdl/conda-eda/blob/master/pnr/vtr/meta.yaml#L38.
This particular one hit us in the `symbiflow-examples` repo - newer tbb package does not provide `libtbb.so.2` required by VPR, bu

[2021-03-08 13:58] #9 closed

[2021-03-08 13:58] #10 closed

[2021-03-08 13:58] #52 closed

[2021-03-08 13:58] #53 closed

[2021-03-08 16:25] ajelinski commented on #6
The local building is now precisely described in https://github.com/hdl/conda-eda#common-travis-ci-build-failures and it doesn't require using any CI scripts.

[2021-03-08 16:25] #6 closed

[2021-03-08 16:26] #51 closed

[2021-03-08 17:30] #4 closed

[2021-03-09 23:22] ajelinski opened #91 "Fix antmicro-yosys-plugins after renaming yosys-config"
`yosys-config` was renamed in https://github.com/hdl/conda-eda/commit/d646059e71222f7f73836b36dbd285a13cca12ac and it seems to be the root of the `antmicro-yosys-plugins` failure: https://github.com/hdl/conda-eda/runs/2070486993

I'll add a commit in https://github.com/hdl/conda-eda/pull/90 to skip `antmicro-yosys-plugins-linux` and `antmicro-yosys-complete-linux` jobs until this is fixed to make

[2021-03-10 15:23] ajelinski commented on #91
It seemed that the problem was fixed but unfortunately #92 was a cross-repository PR so it didn't test the `antmicro-yosys` built in the same CI (because of lack of `ANACONDA_TOKEN` in such PRs) but only the latest uploaded to Anaconda. This issue still needs to be resolved.

[2021-03-12 12:55] #91 closed

[2021-03-17 08:51] kgugala opened #96 "Conda build env adds bunch of compiler flags affecting the resulting binaries"
In my local tests I got:

[code]

While `-L` or `-isystem` are understandable, there are some flags significantly affecting the resulting binaries e.g. `-DNDEBUG` or optimizations level options.

The `-DNDEBUG` flag hits us in https://github.com/SymbiFlow/symbiflow-examples/issues/127. It disables all the asserts in Yosys, co conda built binaries were never triggering the issue.

(CC @mithro @litg

[2021-03-17 09:56] ajelinski opened #97 "Test failure in verilator-osx"
The job will be disabled until the issue is fixed.

Details from https://github.com/hdl/conda-eda/runs/2125128512?check_suite_focus=true#step:3:3385:
[code]

[2021-03-17 10:08] ajelinski opened #98 "Build failures of nextpnr-generic-osx and nextpnr-ice40-osx"
The jobs will be disabled until this issue is fixed.

Both jobs share the same problem:

* [nextpnr-generic:](https://github.com/hdl/conda-eda/runs/2126088339?check_suite_focus=true#step:3:3559)
[code]
* [nextpnr-ice40:](https://github.com/hdl/conda-eda/runs/2126088220?check_suite_focus=true#step:3:3564)
[code]

[2021-04-13 13:37] ajelinski opened #104 "slang: verible: Use Conda compiler"
Currently these two packages are built using a compiler preinstalled in the GitHub Actions Ubuntu image.

They should use a Conda-based compiler.

[2021-05-06 15:42] ajelinski opened #108 "nextpnr/fpga-interchange: Reenable 200t device"
The device can't be built due to the `OSError: [Errno 12] Cannot allocate memory` error: https://github.com/hdl/conda-eda/runs/2504914939?check_suite_focus=true#step:3:4206

It seems to require more than the GH Action's 7GBs of RAM: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources

For now the package will be built

[2021-06-14 14:03] mithro opened #111 "Figure out if "Downstream tests" in conda is useful"
https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#downstream-tests

[2021-06-14 14:03] mithro commented on #111
@PiotrZierhoffer

[2021-07-23 17:36] ajelinski opened #120 "nextpnr-ice40/generic: Building on Windows fails due to `undeclared identified`"
The error building both `nextpnr-ice40` and `nextpnr-generic` is the same and comes from `common/bits.h`:
[code]

[2021-07-29 13:58] #98 closed

[2021-09-30 17:25] tcal-x opened #139 "nextpnr-nexus: default "main" not tracking most recent build"

[2021-09-30 17:39] PiotrZierhoffer commented on #139
The reason for that is inconsistent version naming: with or without "v". It changed after we switched from @timvideos fork to upstream.

@ajelinski can you please take a look?  We can't really drop old versions (i don't think we can. Are they used?). Should we adjust the naming scheme? Can we do that with current scripting?

[2021-10-01 13:24] ajelinski commented on #139
Yes, we can simply adjust the naming scheme for this package. Let's add the `0.0.0` extra tag to the initial commit during the repository preparation so that the package's version will be just as if the package was still built from the `timvideos` fork.

This exact problem extends to the `ecp5`, `generic` and `ice40` nextpnr packages so I'll fix their recipes too.

[2021-10-01 16:26] #139 closed

[2021-10-01 21:12] tcal-x commented on #139
@PiotrZierhoffer , @ajelinski --

I still get  0.0.0-3403-g3fd1ee77 if I don't specify a particular version.   What controls the addition of the "main" label?

https://anaconda.org/LiteX-Hub/nextpnr-nexus/files --

the new one that I don't get
 `linux-64/nextpnr-nexus-0.0.0_3846_g4d97e299-20211001_162618_py37.tar.bz2`     has label `ci-master-1295827473`

the old one that I still get
`linux-64/nex

[2021-10-01 22:25] PiotrZierhoffer commented on #139
It's because of the failed CI. It failed for unrelated reasons, as it seems.

I will add the `main` label for now, so it's fixed for you, but we need to investigate the verilator-uhdm package

[2021-10-01 22:27] PiotrZierhoffer opened #141 "Fix verilator-uhdm build"
For some reason it fails on missing GIT_DESCRIBE_TAG.

[2021-10-03 22:10] zachjs opened #142 "Updating published sv2v"
Firstly, thank you for all your work maintaining releases for HDL tools! I’m sure many appreciate the ease and simplicity this setup provides. I also periodically check in on the results at https://github.com/chipsalliance/sv-tests, which uses the package versions published here.

I've noticed that the version of sv2v under test has recently become stale (~7 weeks old). Although https://anaconda.o

[2021-10-04 07:33] #141 closed

[2021-10-04 20:54] PiotrZierhoffer commented on #142
Hi @zachjs .

This is correct, we're working on bringing back conda-misc back to fitness.

Updating independent sets of packages is a great idea, but it's a maintenance pain. Frankly speaking, this should be somehow doable by GHActions, but it's not.

Either way, moving this to conda-eda makes sense. I will try it immediately.

[2021-10-04 21:02] PiotrZierhoffer commented on #142
I created a PR #143

@zachjs I'm thinking which directory would be the best for sv2v. `conda-eda/misc`?

[2021-10-04 21:37] zachjs commented on #142
Thank you very much for working on this! It seems like `conda-eda/sv-front/` might be appropriate? That said, either folder would work, of course.

[2021-10-05 11:07] PiotrZierhoffer commented on #142
Right, `sv-front` makes sense. There was a hiccup in the CI, but hopefully it will pass now

[2021-10-05 14:52] PiotrZierhoffer commented on #142
This is merged to master, and the package is updated. I'm closing the issue, but feel free to reopen/create a new one if needed

[2021-10-05 14:52] #142 closed

[2021-10-05 17:55] zachjs commented on #142
Thank you very much for your quick work!

[2021-12-01 14:15] proppy opened #146 "some packages don't seems to be compatible with google colab notebooks"
It seems that some of the package are not compatible with the runtime environment present in https://colab.research.google.com/.

Installing the following packages with:
[code]
produce the following error for `verible` at runtime:
[code]
while `iverilog` seems to work fine:
[code]

Installing `verible` from the older https://anaconda.org/SymbiFlow/repo channel, seems to work fine

I suspect this m

[2021-12-01 14:27] proppy commented on #146
Similarly surelog seems to complain about the version of python used by the latest `miniconda`:
[code]

[2021-12-01 14:44] proppy commented on #146
Shared a notebook that reproduce the issue:
https://colab.sandbox.google.com/drive/1IsZluwTkYzdDJGpnbA42lKU8c0OvVJL7?resourcekey=0-HAxTMHW6dg_pQHWwazVGhg#scrollTo=DpEQxPYOR33J

[2021-12-01 14:46] proppy commented on #146
A temporary workaround could be to make the glibc dependend package with a constraints on the `__glibc` virtual package https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-virtual.html?highlight=glibc#managing-virtual-packages, so that the install fails early on to give a better heads up to the users that the package is incompatible with their system.

[2021-12-08 06:46] proppy opened #147 "ETOOMANY yosys package"
Current there are the following packages distributed in various conda channel:

- for yosys:
https://anaconda.org/symbiflow/antmicro-yosys
https://anaconda.org/symbiflow/symbiflow-yosys
https://anaconda.org/symbiflow/yosys
https://anaconda.org/symbiflow/yosys-uhdm
https://anaconda.org/litex-hub/yosys
https://anaconda.org/litex-hub/symbiflow-yosys
https://anaconda.org/litex-hub/quicklogic-yosys
htt

[2021-12-08 15:32] mithro commented on #147
@PiotrZierhoffer who should own this? Someone from the SystemVerilog team maybe?

[2021-12-14 16:17] ajelinski opened #149 "pnr/arachne: Remove `symbiflow-yosys` dependency"
Building fails after making such a change (like in https://github.com/hdl/conda-eda/pull/148) but also using `yosys` instead isn't helpful. `make simpletest` fails in both cases. It's weird because according to the `test` and `simpletest` comments `yosys` shouldn't be required for the latter: https://github.com/YosysHQ/arachne-pnr/blob/master/Makefile#L101

Arachne shouldn't depend on Yosys and `s

[2021-12-14 16:34] PiotrZierhoffer commented on #147
We started by removing symbiflow-yosys recipe. Arachne PNR still depends on it, but it's not trivial to replace the dependency with modern Yosys.

We'll take it step by step, phasing out different yosys builds and then removing old packages from anaconda. We're doing it as a multi-team effort, as we don't want to break anything.

[2021-12-17 04:08] proppy commented on #147
I forgot to mention https://pypi.org/project/yowasp-yosys/ which use a different approach for portability (compiling yosys as a WASM bundle).

[2021-12-17 11:26] ajelinski commented on #149
After discussions with @tmichalak there's really a question if building Arachne is still necessary.
Its source repository hasn't been updated since 2019 and it's marked as obsolete.
The latest downloads of this package were 5 months ago and each package was downloaded no more than 4 times across these last two years.

Maybe we could simply stop building Arachne and remove its recipe @mithro?

[2021-12-17 16:11] proppy opened #150 "add openroad package"
It would be neat to have [openroad](https://github.com/The-OpenROAD-Project/OpenROAD) available as a conda package.

Maybe doing something similar to http://yowasp.org/ for better cross-platform support?

[2021-12-28 18:21] mithro commented on #149
Yeah, I think dropping Arachne is reasonable.

[2021-12-30 12:37] PiotrZierhoffer commented on #149
I removed it on master

[2021-12-30 12:37] #149 closed

[2022-01-04 14:44] tgorochowik commented on #147
The packages that are no longer used have been removed. So for example all the yosys packages from the Symbiflow channel.

The remaining packages are used in various places and need to stay until they are no longer needed. Let's file a few issues to see if we can start using one package everywhere.

[2022-01-09 23:24] umarcor opened #154 "Documentation build in fomu-workshop fails due to yosys not being found"
Since a few days ago, building the Sphinx documentation of fomu-workshop is failing:

https://github.com/im-tomu/fomu-workshop/runs/4751518333?check_suite_focus=true
[code]

This is the environment file: https://github.com/im-tomu/fomu-workshop/blob/master/docs/environment.yml

[2022-01-10 18:46] mithro commented on #154
@PiotrZierhoffer -- Any idea what is going on here?

[2022-01-10 18:48] mithro commented on #154
Pull requests related to Yosys - https://github.com/hdl/conda-eda/pulls?q=is%3Apr+is%3Aclosed+yosys

[2022-01-11 12:48] PiotrZierhoffer commented on #154
This is an accidental victim of https://github.com/hdl/conda-eda/issues/147.

We'll see to restore it to fitness

[2022-01-12 02:49] tcal-x opened #156 "The "icestorm" package does not contain the "iceprog" executable (Linux)"
A user using the conda install ran into an error
[code]
and I confirmed that `iceprog` is not in the `icestorm` package from https://anaconda.org/litex-hub/icestorm.

It is not in the `nextpnr-ice40` package either.

Is there another package I need to install to get `iceprog`?

[2022-01-12 11:34] PiotrZierhoffer commented on #154
It seems that simply switching to use litex-hub anaconda repo should help https://github.com/im-tomu/fomu-workshop/pull/605

[2022-01-12 11:35] PiotrZierhoffer commented on #156
I think it's just https://anaconda.org/litex-hub/iceprog

[2022-01-12 11:40] umarcor commented on #154
It did! Thanks!

[2022-01-12 11:40] #154 closed

[2022-01-12 14:20] PiotrZierhoffer opened #157 "Test failure in icarus-osx"
The job will be disabled until this is fixed.

Details of a failed run https://github.com/hdl/conda-eda/runs/4782600616

[2022-01-12 16:58] tcal-x commented on #156
Thanks, I didn't see that!

[2022-01-12 16:58] #156 closed

[2022-02-01 05:50] proppy opened #159 "add skywater-pdk package"
upstream: https://github.com/google/skywater-pdk
minimal recipe http://opencircuitdesign.com/open_pdks/install.html:
[code]

[2022-02-01 05:53] proppy opened #160 "add open_pdks package"
upstream: http://opencircuitdesign.com/open_pdks/
minimal recipe per http://opencircuitdesign.com/open_pdks/install.html:
[code]
depends: `skywater-pdk` #159 https://anaconda.org/LiteX-Hub/magic

[2022-02-01 06:01] proppy commented on #150
upstream: https://github.com/The-OpenROAD-Project/OpenROAD
recipe:
[code]
dependencies:
- https://anaconda.org/conda-forge/boost-cpp
- https://anaconda.org/conda-forge/eigen
- https://anaconda.org/conda-forge/lemon
- https://anaconda.org/conda-forge/spdlog

[2022-02-02 02:22] PiotrZierhoffer opened #163 "Build failure of the Moore package"
I skip the moore-linux build, because of the non-trivial fail of the CI. Right now it requires manual building of LLVM.

Sample failure: https://github.com/hdl/conda-eda/runs/5024242928?check_suite_focus=true

I had a super fast attempt to address it here, but of course it's not enough: https://github.com/hdl/conda-eda/pull/162

[2022-02-06 02:05] proppy opened #166 "ci seems to fails consistently on PR branches"
See https://github.com/hdl/conda-eda/runs/5078540007?check_suite_focus=true, it fails with the following message:
[code]

[2022-02-06 08:07] proppy opened #167 "magic package doesn't seems to have cairo enabled"
As pointed in #27, it doesn't seems that cairo support is enabled.

[code]

/cc @RTimothyEdwards

[2022-02-06 10:29] proppy commented on #167
This is the log from the latest CI push:
[code]
https://github.com/hdl/conda-eda/runs/5038637591?check_suite_focus=true

[2022-02-06 10:31] proppy commented on #167
While a local build (even with `conda-build-prepare`) shows something different:
[code]

[2022-02-09 02:26] proppy commented on #166
@PiotrZierhoffer confirmed that this is expected (if we don't bump the `NUM_JOBS` variable)

[2022-02-09 02:26] #166 closed

[2022-02-09 02:27] proppy commented on #159
Closed in favor of #160.

[2022-02-09 02:27] #159 closed

[2022-02-09 02:28] proppy opened #169 "add xls package"
upstream: https://github.com/google/xls
recipe: https://google.github.io/xls/tutorials/hello_xls/#1-installation-and-building
list of produced binaries: https://google.github.io/xls/tools/

[2022-02-09 02:35] proppy opened #170 "conda-build fails when there is no tag available"
Most of the recipes starts with a similar boilerplate to derive the version number from the current git tag:
[code]
Which seems to fails if the corresponding git repo has no tags:
https://github.com/hdl/conda-eda/runs/5108676826?check_suite_focus=true

Using `|default()` instead or `or` seems to workaround this issue:
https://github.com/hdl/conda-eda/pull/168/commits/8d74975bdf648f059211eac02d6a43

[2022-02-09 02:37] mithro commented on #170
This sounds like you didn't use the conda-build-prepare stuff to build the package which makes sure the git repository has a tag?

[2022-02-09 02:40] proppy commented on #170
I assumed the CI does run `conda-build-prepare`, see:
https://github.com/hdl/conda-eda/runs/5108676826?check_suite_focus=true
[code]

[2022-02-11 03:33] shenki opened #171 "Add ghdl and ghdl-yosys-plugin"
In order to use VHDL with the yosys flows, we need ghdl and the ghdl yosys plugin to be part of the environment.

https://github.com/ghdl/ghdl-yosys-plugin

https://github.com/ghdl/ghdl.git

[2022-02-11 09:30] kgugala commented on #171
@umarcor can you take a look at this?

[2022-02-11 15:32] proppy opened #173 "add simview package"
upstream: https://github.com/pieter3d/simview
build system: cmake
dependencies: absl fst surelog ncurses

[2022-02-14 15:36] proppy opened #175 "add klayout package"
Upstream: https://github.com/KLayout/klayout
Build recipe: https://github.com/KLayout/klayout#building-without-qt-binding, possibly even without qt with https://github.com/KLayout/klayout/blob/master/build.sh#L93
Dependencies: qt, python, ruby, libcurl, libexpat (but it looks like most of them can be swapped out https://github.com/KLayout/klayout/blob/master/build.sh#L470)

[2022-02-14 22:04] ajelinski commented on #170
This isn't really the problem of a missing tag. The tag is definitely added by `conda-build-prepare`:
[code]

`conda render` and `conda build` give this misleading error for many git-related problems, such as the ones for applying patches.

I've looked into the problem and it's quite weird. In short: ` conda build/render` apply patches with `git am -3 --committer-date-is-author-date` if the first

[2022-02-15 08:42] #160 closed

[2022-02-15 09:12] proppy commented on #160
@ajelinski anything else we need to do to get it uploaded?

[2022-02-15 09:23] ajelinski commented on #160
It'll be uploaded automatically by the `master-package` job once all the other jobs succeed: https://github.com/hdl/conda-eda/actions/runs/1845871121

[2022-02-15 11:10] proppy commented on #160
This does seems related to the `UNAMED` error we say in #161, see:
https://github.com/RTimothyEdwards/magic/blob/bfdf1227a704dbbfb78f42f69965ccc2c81989c1/commands/CmdE.c#L1051
https://github.com/RTimothyEdwards/magic/blob/bfdf1227a704dbbfb78f42f69965ccc2c81989c1/commands/CmdE.c#L1017

[2022-02-15 11:14] ajelinski commented on #160
Also this might be helpful:
[code]

BTW There are a lot of these `Cell "sky130_fd_sc_hd__fill_4" is used but not defined in this file.` errors even in the successful job so they might not be really relevant. I guess this " Rewinding input.  Cells may have been instanced before they were defined." must be true but then I'm not sure why this isn't just a warning.

Is it a problem observable outside

[2022-02-15 11:21] proppy commented on #160
I suspect the actual fatal error is:
[code]
as it seems to be a fatal error according to the code path I linked in https://github.com/hdl/conda-eda/issues/160#issuecomment-1040144529

[2022-02-15 11:49] ajelinski commented on #160
Oh yeah, it seems you're right.
I've restarted the CI to have the package uploaded.

I guess we'll see in the coming days how it works in the nightly CI but I'm afraid I'll have to disable the job if it turns out to be failing too often. Unfortunately a single failing job prohibits other packages from being updated.

[2022-02-17 14:49] umarcor opened #179 "Is it possible to use a shell script on windows, instead of a bat file?"
For instance, in https://github.com/hdl/conda-eda/blob/master/sim/icarus/bld.bat bash is used to execute 5 commands, one at a time. However, https://github.com/hdl/conda-eda/blob/master/sim/icarus/build.sh could be called instead. Is that possible?

[2022-02-24 06:07] proppy opened #183 "mirror the repo to GCS"
It would be nice to mirror the repository to GCS by adding a https://conda.io/projects/conda-build/en/latest/resources/commands/conda-index.html step and https://github.com/google-github-actions/upload-cloud-storage to the current CI.

That would allow to work around the 3GB storage limitation of anaconda: https://docs.anaconda.com/anacondaorg/faq/#what-is-included-in-the-free-version-of-anaconda-

[2022-02-24 06:09] proppy opened #184 "use dedicated GCP runners"
We should consider using https://antmicro.com/blog/2021/08/open-source-github-actions-runners-with-gcp-and-terraform/ to get quicker feedback on the CI jobs.

[2022-02-24 12:11] proppy commented on #184
yes! https://console.cloud.google.com/?project=github-hdl

[2022-02-25 17:30] proppy opened #186 "`build-packages` failed to publish packages"
Manually tried to reschedule it:
https://github.com/hdl/conda-eda/actions/runs/1895830225/attempts/2

But logging this here, so we can investigate what was going wrong:
https://github.com/hdl/conda-eda/actions/runs/1895830225/attempts/1

[2022-02-25 17:31] proppy commented on #186
- [nextpnr-xilinx-linux](https://github.com/hdl/conda-eda/runs/5326526466?check_suite_focus=true#logs) failed with a timeout

[2022-02-27 02:03] mithro commented on #184
@umarcor / @kgugala - Should have pending invites to manage the `github-hdl` organization.

[2022-03-07 11:09] proppy opened #189 "use a separate workflow for publishing"
Currently the CI rely on a current job that "count" the number of completed siblings jobs in order to trigger the publication step to the main litex-hub package: https://github.com/hdl/conda-eda/blob/master/.github/workflows/build-packages.yml#L801

Instead we could consider using something like:
https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run to trigg

[2022-03-07 12:22] proppy opened #190 "openroad package should be available for more than one version of python"
currently the CI only build the package for python 3.7 which cause the following error on system that have a more recent version:
[code]

We should make sure we also build the package for 3.8, 3.9 and 3.10.

[2022-03-07 13:57] ajelinski opened #191 "nextpnr-xilinx: `bbaexport.py` failure"
The CI fails to build `nexpnr-xilinx`: https://github.com/hdl/conda-eda/runs/5446064939?check_suite_focus=true#step:4:1613
[code]

FWIW the breaking change was introduced to adjust to prjxray changes: https://github.com/gatecat/nextpnr-xilinx/commit/565588a69ea95a52f7c7592f4ed81d9bef6cfb60 so I guess it should also be looked into.

I'm going to disable `nextpnr-xilinx` job to fix the CI for other

[2022-03-07 13:58] proppy commented on #191
manually tagged latest build of the following package with `main` as a workaround:
- magic
- netgen
- yosys
- openroad
- open_pdks.sky130a

[2022-03-07 15:04] proppy commented on #191
only set the latest build of `yosys` with main, as I wasn't sure if we wanted to publish all the intermediate version (/cc @PiotrZierhoffer ?)

[2022-03-08 17:51] proppy opened #192 "package OpenFASOC"
Now that we have packages for:
https://anaconda.org/litex-hub/open_pdks.sky130a
https://anaconda.org/litex-hub/openroad
https://anaconda.org/litex-hub/magic
https://anaconda.org/litex-hub/netgen
https://anaconda.org/litex-hub/yosys

It should be easier to have a OpenFASOC package.

Upstream: https://github.com/idea-fasoc/OpenFASOC/
Missing dependency: https://github.com/hdl/conda-eda/issues/175 (p

[2022-03-08 19:42] umarcor commented on #189
Note that the default token cannot trigger other workflows (in order to prevent unexperienced users creating infinite loops). You need to use a Personal Access Token in order to be able to trigger other workflows through dispatch. Alternatively, you could use a reusable workflow. See https://github.com/pyTooling/Actions/#context.

[2022-03-09 11:05] PiotrZierhoffer commented on #191
@proppy not really, we're mostly interested in the latest build

[2022-03-11 00:59] proppy opened #193 "make conda-forge requirements clearer"
Some of the packages currently requires conda-forge:
https://github.com/hdl/conda-eda/search?q=conda-forge&type=

Which might cause glibc issues when installed on top of regular anaconda base environment, see:
https://github.com/siliconcompiler/siliconcompiler/issues/906#issuecomment-1064225192 and https://conda-forge.org/docs/user/tipsandtricks.html#why-does-that-happen

Until we get rid of this

[2022-03-11 01:07] proppy commented on #193
/cc @mkkassem as I believe they were also hitting this issue when testing the packages.

[2022-03-11 01:24] proppy commented on #193
another (non-exclusive) way to fix this is to submit said recipe for inclusion in conda-forge thru: https://github.com/conda-forge/staged-recipes

[2022-03-11 09:46] proppy commented on #193
exploring this here here: https://github.com/conda-forge/staged-recipes/pull/18295

[2022-03-14 16:13] curtisma opened #198 "Conda-forge and Viper"
Have you considered submitting these recipes to Conda-forge rather than having your own channel?   It could handle all the build infrastructure and the recipes would be maintained by the tool owners and/or anyone else interested in helping maintain them.  They also have a well documented process for creating new recipes which could make it easier to support new tools.

I've proposed this approach

[2022-03-14 17:10] mithro commented on #198
Sounds like you just invented the same thing I did --> [bit.ly/edda-conda-eda-spec](https://bit.ly/edda-conda-eda-spec)

[2022-03-14 17:12] mithro commented on #198
See also  https://j.mp/edda-status

[2022-03-14 17:13] mithro commented on #198
Also some stuff at https://docs.google.com/document/d/11XFnJ0ExBgE1pMQksw0rQerAZo3F83AVIu2YK1pbg1k/edit

[2022-03-14 17:14] curtisma commented on #198
haha, cool, want to work together?

[2022-03-14 17:15] curtisma commented on #198
I work on more analog / RF IC design but there should be a lot of overlap.

[2022-03-14 17:16] mithro commented on #198
BTW Have you seen Google's SkyWater open source PDK (https://github.com/google/skywater-pdk) and the associated no-cost shuttle program for open source designs @ efabless.com?

[2022-03-14 18:09] mithro commented on #198
It seems like our work is pretty complimentary too! Our focus has been heavily on the CPU / digital (starting with FPGAs + cross compilers) while your focus has been more on the analog side.

[2022-03-14 23:59] curtisma commented on #198
Yeah, I've heard about the Sky water shuttles.  I've been considering putting together and submitting a design.

What's the best way to collaborate?  Do you want to have an online meeting or discuss on one of our GitHub discussion boards perhaps?

[2022-03-15 01:46] proppy commented on #198
@curtisma I just happen to have started a PR to add a subset of those package to conda-forge as part of #193, see https://github.com/conda-forge/staged-recipes/pull/18295

[2022-03-15 03:46] curtisma commented on #198
@proppy Ok, awesome, do you need help with it?

[2022-03-17 07:16] proppy commented on #198
@curtisma rebased the PR and it nows pass the CI for linux: https://github.com/conda-forge/staged-recipes/pull/18295, do you want to take a look before I ping the conda-forge folks about it?

[2022-03-17 10:27] ajelinski opened #199 "xls: Use Conda-packaged compiler"
In `xls` (currently still in review: #168) there's an issue with using Conda-packaged compiler for building.
Currently, the executables are linked against the OS's `glibc` and there are certain functions used which require a relatively recent version of it (2.30 which isn't available on Debian Buster or Ubuntu 18.04).
To mitigate the problem, Ubuntu 18.04 will be used to build the package unless t

[2022-03-17 10:27] proppy opened #200 "investigate building xls with conda c_compiler"
https://github.com/hdl/conda-eda/pull/168 used llvm toolchain embedded within the bazel workspace, but better compat we should patch xls to compile with https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html#anaconda-compilers-and-conda-build-3

[2022-03-17 10:29] proppy commented on #200
ah duplicate of #199 :)

[2022-03-17 10:29] #200 closed

[2022-03-17 13:39] #169 closed

[2022-03-17 16:25] ajelinski opened #201 "CI: The `prjtrellis-windows` job fails with `windows-2019` and `windows-2022`"
The previously working `windows-2016` is now obsolete and is unavailable every other day until the end of March to be completely disabled on 1st of April.

Unfortunately both Windows alternative virtual environments in GitHub Actions fail to build it properly:
* `windows-2022` (https://github.com/hdl/conda-eda/runs/5585767822?check_suite_focus=true#step:3:2212):
[code]
* `windows-2019` (https://gi

[2022-03-18 22:20] curtisma commented on #198
Sure, I can take a look tonight.  That's what I had guessed when I saw it previously

[2022-03-30 09:02] ajelinski commented on #186
Yosys-uhdm and plugins problems have been fixed already:
* https://github.com/hdl/conda-eda/commit/a976b2691dac504afa969a12a475f20c1af68122
* https://github.com/hdl/conda-eda/commit/bd20ad0fe817a38c9353e1eaae2483d212cbf4b1

[2022-03-30 09:02] #186 closed

[2022-03-30 09:21] ajelinski commented on #170
Closing this issue since the problem with `xls` was indeed caused by a patch.

Given that `conda-build` successfully renders the recipe (which includes applying patches to the source), `conda-build-prepare` properly provides version even if there are no tags in the repository (eg: [prjoxide](https://github.com/gatecat/prjoxide)).

[2022-03-30 09:21] #170 closed

[2022-03-31 03:30] proppy commented on #193
After chatting more with @mithro, I think we need both.

# Conda EDA packages
- minimal
- don't depend on conda-forge
- designed for batch jobs and automation from cloud host
- auditable (easy to vendor and rebuild with all their dependencies from sources)

# Conda Forge packages
- feature full
- depends on other conda-forge packages
- design for interactive and gui usage from multiple platforms (

[2022-04-06 18:31] proppy opened #203 "misc/open_pdks.sky130a build should include sram"
- flag: `./configure --enable-sram-sky130`
- upstream:  https://github.com/efabless/sky130_sram_macros
- branch: `main`

[2022-04-06 19:31] mithro commented on #203
These files are fairly large, maybe they should it be in a separate package or "extras" (https://peps.python.org/pep-0508/#extras) in some way?

[2022-04-06 19:48] proppy commented on #203
maybe simply a subpackage of `open_pdks.sky130a`?  `open_pdks.sky130a.sram`.

[2022-04-07 16:29] mithro commented on #203
`open_pdks.sky130a.sram` could work...

[2022-04-09 12:17] #97 closed

[2022-04-09 12:17] #157 closed

[2022-04-09 12:17] #73 closed

[2022-04-11 07:09] ajelinski commented on #71
Currently building `*yosys-plugins*` on macOS is also impossible because now their recipes require Surelog which isn't built for macOS.

[2022-04-12 03:32] donn commented on #203
Altogether, xz compressed, it's 177 MB. That's nothing.

[2022-04-12 14:37] proppy commented on #203
we could do both!

We could have individual subpackages for each of the invidual cells library, as well as higher level variants that capture popular combinations (high density, low voltage, high voltage, everything)

[2022-04-12 14:51] tdene commented on #203
I came to this thread because I wanted the end-user to have the other standard cell libraries exposed.

So what I was thinking was, whether it'd be possible to modularly install different libraries.

With an usual build environment, you'd do by that cloning the different libraries first, as desired, then running open_pdk's make. Clearly that's not an option in this case, with the intent being that

[2022-04-12 15:09] proppy commented on #203
yep, that's what I was leaning toward too with https://github.com/hdl/conda-eda/issues/203#issuecomment-1096815134

the current set we have with `open_pdks.sky130a` is:
- `sky130_fd_sc_hd`
- `sky130_fd_sc_hvl`
- `sky130_fd_io`
- `sky130_fd_pr`

are there other popular combinations that can be used as an alternative base? or are the following always installed individually?
- `sky130_fd_pr_reram`
-

[2022-04-12 15:18] tdene commented on #203
Personally, I would see the following packages being useful.

 * Base:  `sky130_fd_pr`, `sky130_fd_sc_hvl`, `sky130_fd_io`, `sky130_fd_sc_hd`.
 * All cells with 3.33um height: `sky130_fd_sc_hs`, `sky130_fd_sc_ms`, `sky130_fd_sc_ls`, `sky130_fd_sc_lp`
 * Stand-alone `sky130_fd_pr_reram`
 * Stand-alone `sky130_fd_sc_hdll`
 * Stand-alone `sky130_fd_sc_hs`
 * Stand-alone `sky130_fd_sc_ms`
 * Stand-alo

[2022-04-12 15:21] proppy commented on #203
And I'd assume you'd also recommend for `sram` and `fonts` to be separate package?

[2022-04-12 15:23] tdene commented on #203
For `sram`, yeah, I believe that would be best (?)

`fonts` I am not familiar with.

[2022-04-18 05:21] proppy opened #204 "mirror packages on google cloud storage"
Since conda has the capability of installing package from arbitrary static http host (as long as it can fetch the index), we could consider mirroring the packages under a google cloud storage bucket.

That would have the following advantages:
- no more arbitrary quota limitation
- faster fetch from GCP infra (incl dedicated runners #184)
- more relevant package name (we could use the `https://cond

[2022-04-18 05:33] proppy opened #205 "provide example usage using colab notebooks"
It would be nice to have a collection of https://colab.research.google.com/ that demonstrate usage of the conda-eda packages to perform basic EDA talks.

We could seed it with some of the examples below:
https://colab.research.google.com/gist/proppy/26525ff7d9810247759a8d3ff3c41dcb/openlane-with-conda-eda.ipynb
https://colab.research.google.com/gist/proppy/b8a35e01e22c9685a79fa144e0df3f36/mosfet_s

[2022-05-05 11:50] PiotrZierhoffer opened #209 "ODIN II build failure"
It started to fail for no apparent reason. https://github.com/hdl/conda-eda/runs/6304381782?check_suite_focus=true#step:3:785

I tried to play with dependencies, but with no success.

There is a ticket reported on Conda that might be relevant: https://github.com/conda/conda/issues/11442

Skipping the package for now.

[2022-05-05 12:21] PiotrZierhoffer commented on #209
It seems to affect xls as well https://github.com/hdl/conda-eda/runs/6305646409?check_suite_focus=true

[2022-05-06 19:33] mithro opened #210 "Add Xyce simulator as a package"

[2022-05-11 07:05] proppy commented on #205
@mgielda @umarcor can you weight-in if you think that's a good idea to create this repo?

I'd be cool to get a community maintained location for this, and I'm happy to seed it with the content I posted before on https://gist.github.com/proppy/public.

[2022-05-11 07:05] proppy commented on #205
@mattvenn also mentioned some recent interest from the https://www.zerotoasiccourse.com/ crowd.

[2022-05-11 14:33] mithro commented on #205
@umarcor - Can you create `notebooks-eda` and give @proppy admin privileges?

[2022-05-11 15:35] umarcor commented on #205
As commented through e-mail some months ago, I don't think it's worth creating a repo for the purpose of hosting notebooks only. There are existing locations which can host such content:

- [hdl.github.io/packages](https://hdl.github.io/packages/) is expected to contain examples and references about how to use the multiple packaging solutions with simple and not so simple FPGA and ASIC examples. I

[2022-05-11 15:44] mithro commented on #205
As an end user, I would not expect to find notebooks in either `hdl/conda-eda` or `hdl/packages`, I **_might_** expect to find notebooks in `hdl/examples` or `hdl/demos` but there would not be anything which clearly indicates that such a possibility even exists. A repository like `hdl/notebooks-eda` is pretty clear what I will find in it. While we are pretty use to the idea of using open source ED

[2022-05-12 01:52] umarcor commented on #205
For visibility purposes:

- We can add a `.github/profile/README.md` which points to the most relevant content (containers, conda, notebooks, examples, etc.).
- The docs of hdl.github.io/packages can be served at hdl.github.io and hdl.github.io/notebooks can point to the content we want regardless of the actual location.

As an end user, I would not expect to find examples, demos or notebooks in o

[2022-05-12 01:56] umarcor commented on #205
Is this the logo you want to use for the notebooks? https://simpleicons.org/icons/googlecolab.svg

Or shall it be https://simpleicons.org/icons/jupyter.svg ?

[2022-05-12 02:36] umarcor commented on #171
@proppy @PiotrZierhoffer would you know how to [customize a compiler](https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html#customizing-the-compilers) to enable Ada support in GCC?

/cc @mithro

[2022-05-12 02:43] proppy commented on #171
@umarcor wouldn't https://github.com/conda-forge/staged-recipes/issues/14692 also help?

[2022-05-12 02:46] umarcor commented on #171
@proppy, I believe that the main purpose is to support it on Linux, because all the tools are expected to be available, while some might be missing on Windows or macOS.

MSYS2 packages on Windows are known to work (one of my main workstation is a Windows 10 with MSYS2).

[2022-05-12 03:09] proppy commented on #171
@umarcor ah yes, what I meant was that having the ada compiler available in conda-forge could enable us to build a recipe for this.

[2022-05-12 17:31] mithro commented on #171
https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html#using-your-customized-compiler-package-with-conda-build-3

[2022-05-18 16:14] mithro commented on #183
I believe this is a duplicate of https://github.com/hdl/conda-eda/issues/204 ?

[2022-05-18 16:14] #183 closed

[2022-05-23 06:14] proppy commented on #205
we discussed this topic during https://chipsalliance.org/workgroups/#:~:text=Mailing%20list-,Tools%20Workgroup,-The%20Tools%20workgroup w/ @kgugala and @pgielda and agreed that https://github.com/chipsalliance/silicon-notebooks could provide a good home for this project has various member of chipsalliance expressed interest into leveraging notebook as a way to lower the barrier of entry to the ope

[2022-05-23 06:14] #205 closed

[2022-05-24 10:23] proppy commented on #210
First we need to identify:
- upstream
- build documentation
- dependencies

[2022-05-24 10:31] proppy opened #215 "add coriolis package"
Upstream: https://gitlab.lip6.fr/vlsi-eda/coriolis
Build documentation: https://gitlab.lip6.fr/vlsi-eda/coriolis/-/blob/devel/README.rst#L38
Dependencies:
* Python 3
* cmake
* boost
* bison & flex
* Qt 4 or 5
* libxml2
* RapidJSON

Seems like qt is a hard-dep: https://gitlab.lip6.fr/vlsi-eda/coriolis/-/blob/devel/bootstrap/cmake_modules/FindBootstrap.cmake#L211

[2022-05-24 10:33] umarcor commented on #210
@proppy see:

- https://github.com/hdl/containers/blob/main/debian-bullseye/xyce.dockerfile
- https://github.com/hdl/containers/issues/56
- https://github.com/google/skywater-pdk/issues/186
- https://github.com/Xyce/Xyce/blob/master/INSTALL.md

[2022-05-24 10:49] umarcor commented on #210
@proppy, note that you need to use version 12.12.1 of Trilinos (https://github.com/hdl/containers/blob/main/debian-bullseye/xyce.dockerfile#L54). Fortunately, it is available: https://anaconda.org/conda-forge/trilinos/labels.

[2022-05-24 15:00] proppy commented on #204
depending if we want to land this before or after #184, we could use either https://github.com/google-github-actions/upload-cloud-storage#authenticating-via-workload-identity-federation or https://github.com/google-github-actions/upload-cloud-storage#via-application-default-credentials for authorizing the action to access the bucket.

[2022-05-24 15:36] mithro commented on #215
While I would love to see this, I would say it is a much lower priority than Xyce / OpenLane / etc.

[2022-05-25 18:20] curtisma commented on #198
Awesome, thanks @proppy !  I'll try it out this evening.

[2022-05-25 18:39] curtisma commented on #198
@proppy Now we need to package some type of schematic editor such as xcircuit.

[2022-05-26 16:27] curtisma commented on #198
Yeah, it's on my to-do list.
I've put together a list of packages we'd like available initially for an open source IC design conda environment:

https://github.com/cascode-labs/viper-forge/issues/1

[2022-05-26 16:50] proppy commented on #198
@mithro https://anaconda.org/conda-forge/ngspice :)

[2022-05-26 16:53] proppy commented on #198
for klayout also see: https://github.com/flaport/condalayout/issues/1#issuecomment-1075152682

[2022-06-23 21:16] mithro commented on #175
@proppy - We should try and get KLayout here ASAP...

[2022-06-24 06:27] proppy commented on #175
There is already a package available in the `flaport` channel maintained by the photonics community (friends of @joamatab):
[code]

The python version https://www.klayout.org/klayout-pypi/ should be able to do perform GDS parsing/streaming (and maybe DRC checks? and even offscreen visualization in the future: see https://github.com/KLayout/klayout/issues/1082#issuecomment-1136433845) and is alread

[2022-06-24 09:14] umarcor commented on #175
@proppy @joamatab is klayout-pypi expected to be used/installed along with the regular KLayout? Or is it a subset to be used standalone?

Context: I'm considering whether to add it to container `klayout` (https://github.com/hdl/containers/blob/main/debian-bullseye/klayout.dockerfile) or to create a separated container for it.

[2022-06-24 13:33] proppy commented on #175
It's a subset only implementing the Python API.

[2022-06-30 01:32] proppy opened #222 "add charon package"
Upstream:
https://charon.sandia.gov/
Dependencies:
https://charon.sandia.gov/third-party-libraries/
License:
GPLv3
Build recipe:
[code]

[2022-07-01 10:10] ajelinski opened #224 "Yosys seems to be broken after building on Windows"
Building succeeds but there's an error right after:
[code]
https://github.com/hdl/conda-eda/runs/7141174345?check_suite_focus=true#step:7:9073

Adding `SKIP=true` to the CI job until the problem is fixed.

[2022-08-08 00:17] proppy opened #230 "add PandA Bambu package"
Upstream:
https://github.com/ferrandi/PandA-bambu
Dependencies:
https://github.com/ferrandi/PandA-bambu/blob/main/INSTALL#L81
License:
GPLv3
Build recipe:
[code]

[2022-08-08 00:21] proppy opened #231 "add SODA package"
Upstream:
https://gitlab.pnnl.gov/sodalite
Dependencies:
- LLVM
- MLIR
License:
https://gitlab.pnnl.gov/sodalite/soda-opt/-/blob/main/LICENSE.txt
Build recipe:
https://gitlab.pnnl.gov/sodalite/soda-opt#how-to-build

[2022-08-09 16:10] agostini01 commented on #231
Hi @proppy,

Thank you for writing this issue.

I am one of the maintainers of the soda-opt project. Please, let me know of any questions you have.

Also, please, let me know if there is a specific structure (or example) you would like us to follow. I can adapt or create specific build scripts to address any issues regarding implementing this feature.

[2022-08-12 17:08] proppy opened #234 "xls package should ship dslx stdlib"
and find a way to add `CONDA_PREFIX/path/to/xls` to the default loading path.

so that the package user can do:
[code]
without having to extra dslx stdlib from xls source tree locally:
https://github.com/google/xls/tree/main/xls/dslx/stdlib

[2022-08-19 12:57] proppy opened #235 "integrate with efabless patches in open_pdks packages"
It seems that that efabless is maintaining patches on top of the default `open_pdks` repo for better integration with OpenLane: https://github.com/efabless/open_pdks/.

This was discussed as https://github.com/chipsalliance/silicon-notebooks/pull/9 as part of some delta in the default values that OpenLane expect to be defined for a given PDK variant.

We could integrate those locally patch in the

[2022-08-19 12:57] proppy commented on #235
@donn will that be a long-lived fork? or should I just apply the patch https://github.com/efabless/open_pdks/commit/44a43c23c81b45b8e774ae7a84899a5a778b6b0b locally to the package until it get merged upstream?

[2022-08-19 13:11] donn commented on #235
This is a long-lived fork. It's the repository of open_pdks used by volare and OpenLane. We do merge things upstream and merge things from upstream, but this overall gives me more control over variables, including OpenLane configuration variables and real-life variables such as Tim's availability.

So if your intent for `open_pdks` is to be a canonical installation, use Tim's repo with a patch app

[2022-08-29 20:07] thomasdorch commented on #222
It's still in progress, but I am working on a [conda package for Charon](https://github.com/thomasdorch/charon-conda).

[2022-08-29 23:42] proppy commented on #222
@thomasdorch do you want to co-maintain this together in this repo?

[2022-08-30 19:49] thomasdorch commented on #222
@proppy I am hoping to get it into conda-forge at some point, would having it in the conda-eda repo conflict with that at all? I am still sort of figuring out how the conda ecosystem works but if there isn't a conflict, I'd be happy to co-maintain it here.

[2022-08-31 01:06] proppy commented on #222
@thomasdorch I'd be happy to help with the conda-forge package as well!

I'm relatively new to conda as well, but here are some thoughts we put together on conda-eda vs conda-forge: https://github.com/hdl/conda-eda/issues/193#issuecomment-1084035801, feel free to contribute yours to the conversation!

[2022-08-31 17:01] thomasdorch commented on #222
Thanks for linking that discussion @proppy! I'm down to co-maintain it in conda-eda, and would definitely appreciate your help in getting it into conda-forge.
So would including it in conda-eda mean that all of the dependencies that I'm currently pulling from conda-forge (hdf5, netcdf, etc.) need to be compiled as part of the build.sh script?

[2022-09-01 11:21] thesourcerer8 commented on #222
I packaged Charon for Docker, perhaps that helps you too: https://github.com/thesourcerer8/OpenSourceTCAD/

[2022-09-01 17:55] saicharan0112 commented on #210
Any progress on this? Is there something I can help here?

[2022-09-07 23:24] proppy commented on #231
@agostini01 sorry for the late followup, the first thing we need to identify is if all SODA dependencies are available in https://anaconda.org/.

Found:
- https://anaconda.org/main/llvm
- https://anaconda.org/main/mlir

Are there any other dependencies needed?

[2022-09-08 03:03] agostini01 commented on #231
Hello @proppy ,
No problems at all.

Just want to confirm that you mean post installation dependencies. Is it correct?

- SODA-OPT (compiler frontend) is compiled statically.
- Bambu HLS (compiler backend) depends on `verilator libbdd-dev g++-7-multilib` and any compiler that was present during compilation of Bambu (it checks if gccX and clangX are in the path and compiles plugins to enable their

[2022-09-08 03:12] proppy commented on #231
For SODA-OPT, even if it's compiled statically when building it from source, we should try for this package to depends as much of possible on the existing conda packages for build and runtime dependencies.

For Bambu HLS, let's track those requirements in https://github.com/hdl/conda-eda/issues/230

Is that a build or a runtime hard dependencies? (SODA doesn't work in it's not there), or just a re

[2022-09-08 18:20] agostini01 commented on #231
| Is that a build or a runtime hard dependencies?
They are not hard dependencies, but the MLIR IR syntax changes from time to time. So that the MLIR generated by `tf-mlir-translate` in the past may not be compatible with MLIR IR accepted by `soda-opt`/`mlir-opt` now. In our compilation pipelines, I try to keep them updated based on the same/similar version of the main branch in the llvm-project, w

[2022-09-09 22:08] simbilod opened #239 "add SUPREM package"
Hello, how could we get a conda build for SUPREM?

https://github.com/cogenda/Suprem4

Thank you!

[2022-09-09 22:15] simbilod opened #240 "add DEVSIM package"
Hi, how could we create a conda package for DEVSIM?

https://github.com/devsim/devsim

Thanks!

[2022-09-10 00:40] mithro commented on #239
Sadly SUPREM isn't open source and thus can't be included. See the text below;

A lot of the source files also have a header like this;
[code]

[2022-09-10 00:40] #239 closed

[2022-09-10 00:41] mithro commented on #240
Yes, that would be awesome!

You might find the resources at https://github.com/thesourcerer8/OpenSourceTCAD useful until this happens.

[2022-09-10 06:11] simbilod commented on #240
Great! In the meantime we also have an automated installation script using the binaries in [gdsfactory](https://github.com/gdsfactory/gdsfactory/blob/master/Makefile) which works well (make devsim)

[2022-09-27 01:09] proppy commented on #235
The target repo has been reconciled with the upstream one.

[2022-09-27 01:10] proppy opened #244 "add OpenLane package"
# Upstream
https://github.com/The-OpenROAD-Project/OpenLane/

# License
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/LICENSE

# Dependencies
- OpenROAD
- netgen
- open_pdks (optional?)
- magic
- pyyaml
- click
- tcllib (system?)
- yosys

# Test
[code]

[2022-10-05 12:40] proppy commented on #244
/cc @mithro @QuantamHD

[2022-10-05 21:44] proppy opened #248 "add vlsiffra packages"
Upstream:
https://github.com/antonblanchard/vlsiffra

Hard-Dependencies:
- Yosys

Soft (slibings) Depdencies:
- OpenROAD
- [ORFS](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts)
- open_pdks.{sky130a,[gf180mcuc](https://github.com/hdl/conda-eda/pull/238))

Build:
- regular python package

License:
- Apache 2.0: https://github.com/antonblanchard/vlsiffra/blob/main/LICENSE

[2022-10-19 06:07] proppy opened #249 "add xschem package"
- Upstream: https://github.com/StefanSchippers/xschem
- License: [GPLv2+](https://github.com/StefanSchippers/xschem/blob/master/LICENSE)
- Recipe: https://xschem.sourceforge.io/stefan/xschem_man/install_xschem.html (standard autotools)
- Deps: x11, cairo, tcl/tk, xpm
- Build-deps: bison, flex

[2022-10-19 14:42] proppy opened #250 "remove gui dependencies when applicable"
per https://github.com/hdl/conda-eda/issues/193#issuecomment-1084035801 we should aim to remove graphical dependencies when not strictly needed (and/or a conda-forge equivalent package is available).

[2022-10-19 14:47] proppy commented on #250
- https://github.com/hdl/conda-eda/pull/246 has a transitive dependencies on tk thru tcllib and it should be possible to disable the modules requiring tk thru https://github.com/hdl/conda-eda/pull/246#issuecomment-1283838105

[2022-10-19 16:30] ajelinski opened #251 "Fix Windows path issues"
The two Windows jobs that haven't been skipped already currently fail due to weird path problems, e.g. icestorm:
[code]

Let's skip `icarus-windows` and `icestorm-windows` until the problem is solved.

[2022-10-21 02:59] alanvgreen opened #252 "add symbi-yosys package with yices-smt2"
Part 3 of the zero2asic course uses symbi-yosys (sby) with the yices engine.

Usng
I was able to install sby with `conda install -c litex-hub symbiyosys`, but then got this failure:

[code]

`timer.sby` contains:

[code]

[2022-10-21 04:34] proppy commented on #252
According to https://symbiyosys.readthedocs.io/en/latest/reference.html#engines-section, symbiyosys suppôts a wide variety of engines / solvers sélection.

It looks that `z3` is a supported option and I could find a packaged version here (albeit outdated, current upstream version is 4.11): https://anaconda.org/asmeurer/z3.

Does it work if you change the solver according to the symbiflow docs?

[2022-10-21 04:36] proppy commented on #252
Also see https://github.com/hdl/conda-eda/blob/master/.github/workflows/Build.yml#L297 it seems that the build are currently disabled because of #70

[2022-10-21 04:38] proppy commented on #252
Actually looking at the recipe a little bit closer, it seems that z3 is included in the build:
https://github.com/hdl/conda-eda/blob/master/formal/symbiyosys/build.sh#L52

[2022-10-21 04:49] proppy commented on #252
@alanvgreen what happens if you switch the configuration to:
[code]

[2022-10-25 07:34] #244 closed

[2022-10-26 06:18] alanvgreen commented on #252
Setting `[engines]` to `smtbmc z3` worked for a simple example: Symbiyosys completes without errors and produces correct output.

[2022-11-09 20:18] saicharan0112 opened #255 "Conda packages are not getting published"
Packages are not getting published event though the tools are getting updated. By when can we expect the latest packages online?

FYI - @mithro @msaligane @proppy

[2022-11-10 01:29] proppy commented on #255
Looks like the actions are currently failing, preventing the package to be published:
https://github.com/hdl/conda-eda/actions/runs/3432621227

/cc @PiotrZierhoffer @ajelinski

[2022-11-10 01:30] proppy commented on #255
[code]

Looks like we exceeded the anaconda quota. Time to move the channel to GCS? /cc @mithro

[2022-11-10 01:39] proppy commented on #204
@umarcor as discussed with @mithro on https://github.com/hdl/conda-eda/issues/184#issuecomment-1052923605, do you think we can get a bucket set-up on `github-hdl` with either https://cloud.google.com/iam/docs/workload-identity-federation or https://cloud.google.com/iam/docs/creating-managing-service-accounts authorization scheme set so that we can upload artefact from the `Upload packages` workflo

[2022-11-10 05:39] PiotrZierhoffer commented on #255
For now I'll try to clean up unused versions of packages, this should buy us some time

[2022-11-10 05:49] tcal-x opened #256 "add "litex-sim" package with Verilator, libevent, and json-c"
See comments starting from here:

https://github.com/google/CFU-Playground/pull/630#issuecomment-1198666379

[2022-11-11 06:32] proppy opened #257 "openlane package should not override PDK_ROOT if present"
currently the openlane package hardcode the location of the `PDK_ROOT` to the expected installation dest of the conda-eda pdk packages:
https://github.com/hdl/conda-eda/blob/master/misc/openlane/env.tcl#L22

In order to be compatible with manually installed PDK, it should use `PDK_ROOT` if present in the environment.

[2022-11-12 11:49] cbalint13 commented on #210
@saicharan0112

If you want it for fedora/rhel you can have latest (including xyce):
https://copr.fedorainfracloud.org/coprs/rezso/HDL

Also the repo can be invoked within Docker for convenience, a short demo:
https://gist.github.com/cbalint13/1de29fbe77e8dedddd3861b5f49a1835

[2022-11-12 14:41] saicharan0112 commented on #255
Thanks @PiotrZierhoffer @proppy Looks like the latest packages are available now.

[2022-11-12 14:41] #255 closed

[2022-11-14 03:15] curtisma commented on #193
Why not just move all the packages to conda-forge?  They already have all the build infrastructure to make it easy to maintain the packages and make sure they are up-to-date.  It would also handle the need for the conda-forge channel since everything would come from conda-forge.

@proppy, @mithro

[2022-11-14 03:50] proppy commented on #193
@curtisma I do agree that it would be nice to have all the conda-eda packages available in some form in conda-forge too as a long term goal.

`conda-eda` also include a fair amount of packages related to open source FPGA development (https://f4pga.org/), so this would requires a significant maintainance effort if we were to move everything (i.e: not only the open source silicon part).

So another

[2022-11-18 00:59] proppy opened #258 "openroad package fails to build"
https://github.com/hdl/conda-eda/actions/runs/3492792934/jobs/5846941441

[code]
seems like a new? dependency is missing.

[2022-11-18 01:00] proppy commented on #258
Last passing build:
https://github.com/hdl/conda-eda/actions/runs/3465980014/jobs/5789334976

[2022-11-18 01:01] proppy commented on #258
First failing build:
https://github.com/hdl/conda-eda/actions/runs/3474937054/jobs/5808642584